langchain
python-dotenv
langchain-groq
ipykernel
langchain-google-genai 
langchain-community
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
langchain-core[tracing]
pytest
streamlit
sentence_transformers
docx2txt
pytest
fastapi
uvicorn
python-multipart==0.0.20
-e .
